.main-footer
	padding: 35px 0 16px
	background-color: #333
	+min-screen($breakpoint-lg)
		padding-top: 65px
	&__top
		display: flex
		flex-direction: column
		+min-screen($breakpoint-xl)
			flex-direction: row
			justify-content: space-between
	&__icon
		margin-bottom: 53px
		margin-top: 5px
		display: inline-block
		width: 40px
		height: 40px
		margin-left: 3px
		transform: rotate(-15deg)
		+min-screen($breakpoint-lg)
			width: 45px
			height: 45px
	&__sections-container
		display: flex
		flex-direction: column
		margin-bottom: 15px
		box-sizing: border-box
		+min-screen($breakpoint-sm)
			flex-direction: row
			margin-left: -8px
			margin-right: -8px
		+min-screen($breakpoint-lg)
			margin-left: -12px
			margin-right: -12px
		+min-screen($breakpoint-xl)
			width: calc(50% + 12px)
			margin: 0 -12px 80px 0
	&__section
		margin-bottom: 46px
		box-sizing: border-box
		+min-screen($breakpoint-sm)
			width: 50%
			padding-left: 8px
			padding-right: 8px
		+min-screen($breakpoint-sm)
			padding-left: 12px
			padding-right: 12px
	&__section-title
		position: relative
		margin-bottom: 19px
		padding-top: 17px
		text-transform: uppercase
		font-size: 14px
		font-weight: 500
		color: #fff
		+min-screen($breakpoint-lg)
			margin-bottom: 17px
			padding-top: 18px
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 128px
			height: 1px
			background-color: #fff
			+min-screen($breakpoint-lg)
				width: 195px
	&__company-title
		margin-bottom: 8px
		font-size: 18px
		font-weight: 300
		color: #fff
	&__address
		font-size: 18px
		font-weight: 300
		color: #fff
	&__mail
		text-decoration: underline
		font-size: 18px
		font-weight: 300
		color: #fff
		+desktop
			&:hover
				text-decoration: underline
				color: #fff
	&__bottom
		display: flex
		flex-direction: column
		align-items: center
	&__bottom-link
		margin-bottom: 8px
		text-decoration: underline
		font-size: 14px
		font-weight: 300
		text-align: center
		color: #b2b2b2
		+desktop
			&:hover
				text-decoration: underline
				color: #b2b2b2
	&__owner
		text-align: center
		font-size: 14px
		font-weight: 300
		color: #b2b2b2
