.portfolio
	margin-bottom: 100px
	&__title
		margin-bottom: 24px
		text-align: center
		font-family: $font-family-accident
		font-size: 32px
		font-weight: 900
		line-height: 1.09
		color: #000
		+min-screen($breakpoint-lg)
			font-size: 40px
	&__brands
		min-height: 316px
		// background-color: #f6f6f6
		+min-screen($breakpoint-lg)
			width: 80%
			margin-left: auto
			margin-right: auto